{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock title %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Password reset complete</h3>
            </div>
            <div class="d-flex justify-content-center links">
                <p>Your new password has been set. You can log in now on the 
                    <a href="{% url 'login' %}">log in page</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
